.Home{
    height: 100vh;
    display: flex;

    .Container{
        display: flex;
        flex-direction: row;

        .Col{
            height: 700px;
            width: 400px;
            background-color: #555;
            margin-right: 50px;

        }
    }

    
}


