.Home{

    .Container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-content: space-around;
    
        .Col{
            height: 750px;
            width: 400px;
            background-color: #555;
        }

    }

}

    