
.Landing {
    background-image: url(../Assets/Images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* or whatever height you want */

    .hero {
        position: fixed;
        top: 40%;
        left: 25%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        padding: 0.625rem;

        h1{
            font-size:xx-large;
            padding: 0.625rem;
        }
        p{
            padding: 0.625rem;
        }
        button {
            padding: 0.625rem;
            margin-left: 10px;
            margin-top: 10px;
            margin-right: 10px;
        }
    }
}