$nav-color: black;
.Navbar{
    height: 64px;

    nav {
        display: flex; 
        justify-content: space-between; 
        padding: 1rem 2rem;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

        .Title{
            margin-left: 300px;
        }

        ul {    

            .NavElements{
                display: flex;
                list-style: none; 
                margin-right: 300px;
                li {
                    padding : 0 25px;
    
                    a:link {
                        color: $nav-color;
                        background-color: transparent;
                        text-decoration: none;
                      }
                      
                      a:visited {
                        color: $nav-color;
                        background-color: transparent;
                        text-decoration: none;
                      }
                      
                      a:hover {
                        color: red;
                        background-color: transparent;
                        text-decoration: none;
                      }
                      
                      a:active {
                        color: $nav-color;
                        background-color: transparent;
                        text-decoration: none;
                      }
                }
            }
        }
    }
}