$text-color: black;
$hover-color: #3498db;
.Navbar{
    height: 64px;

    nav {
        display: flex; 
        justify-content: space-between; 
        padding: 1rem 2rem;
        background-color: white;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

        .Title{
            margin-left: 300px;
            h4{
                display: inline;
            }
            .SecondWord{
                color: #3498db
            }
        }

        ul {    
            .NavElements{
                display: flex;
                list-style: none; 
                margin-right: 300px;
                li {
                    padding : 0 25px;

                    a:link {
                        color: $text-color;
                        background-color: transparent;
                        text-decoration: none;
                        background: transparent;
                        transition: width .5s ease, background-color .5s ease;
                      }
                      
                      a:visited {
                        color: $text-color;
                        background-color: transparent;
                        text-decoration: none;
                      }
                      
                      a:hover {
                        color: $text-color;
                        background-color: transparent;
                        text-decoration: none;
                        border-bottom: 2px solid $hover-color;
                      }
                      
                      a:active {
                        color: $text-color;
                        background-color: transparent;
                        text-decoration: none;
                      }
                }
            }
        }
    }
}